* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    background-color: #232323;
    touch-action: manipulation;
}
.container{
    /* border: white solid 2px; */
    width: 100%;
    height: 80%;
    color: white;
}
.box{
    padding: 2rem;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    
}
.column {
    float:inline-start;
    width: 50%;
    text-align: center;
    height: 100%;
    
}

.row{
    display: table;
    height: 100%;
    width: 100%;
  }

.btn{
    height: 40px;
    width: 50%;
    border: none;
    padding: 1rem;
    color: white;
    font-weight: bolder;
    text-justify: center;
    z-index: 98;
}

.btn-rem{
    background-color: red;
}
.btn-reset{
    position: absolute;
    width: 40px;
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    z-index: 99;
}
#scoreA,#scoreB{
    font-size: 150px;
    font-weight: bolder;
    padding: 10%;
}
.Serve{
    background-color:#ababab;
}
.touch {
    position: absolute;
    width: 40%;
    height: 65%;
    padding: auto ;
    z-index: 90;
}

.history{
    padding: 10px;
    color: white;
    display:flex;
    width: auto;
    height: 5%;
    text-align: center;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    margin-top: 2% ;
}

.box#left{
    border-left: white solid 1px;
}

.box#right{
    border-right: white solid 1px;

}
.set {
    color: chartreuse;
    border: solid chartreuse 1px;
}

.drew{
    background-color: crimson;
    padding: 10px;
    color: white;
    width: auto;
    text-align: center;
    font-size:400%;

    
}
.hidden{
    display: none;
}
.info{
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    margin-top: 2% ;
    text-align: center;
    
}

